@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

/*========= レイアウトのためのCSS ===============*/
html {
  font-family: 'Kiwi Maru', sans-serif;
}
body{
  background-color: lightseagreen;
  font-family: 'Kiwi Maru', sans-serif;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
  font-family: 'Kiwi Maru', sans-serif;
}

a{
  color: #333;
  font-family: 'Kiwi Maru', sans-serif;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:3vw;
  color: palegoldenrod;
  margin:30px 0;
  font-family: 'Kiwi Maru', sans-serif;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
  font-family: 'Kiwi Maru', sans-serif;
}

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
columns: 3;/*段組みの数*/
padding:0 15px;/*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
  width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .gallery{
  columns:1;
  } 
}

@media only screen and (max-width: 768px) {
  .gallery{
  columns: 1;
  } 
}

/*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
.g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: palegoldenrod;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
    left:-50px;
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
.g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.g-nav.panelactive .g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
.g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
.g-nav.panelactive ul {
    opacity:1;
}

/*リストのレイアウト設定*/
.g-nav li{
	text-align: center; 
	list-style: none;
  font-family: 'Kiwi Maru', sans-serif;
	color: darkorange; 
}

.g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	letter-spacing: 0.1em;
	font-weight: bold;
  	font-family: 'Kiwi Maru', sans-serif;
	color: darkorange; 
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
	top:10px;
	left: 10px;
	z-index: 9999;/*ボタンを最前面に*/
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: darkorange;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*========= ニュースティッカーのためのCSS ===============*/

/*ニュース1行の周りの余白*/
.slider a{
    display: block;
    background:palegoldenrod;
    padding:20px;
    border-radius: 10px;
}

/*日付*/
.slider span {
    display:inline-block;
    font-size:0.8rem;
    margin-right:10px;
    color:#777;
}

.slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider span {
        display:block;
		padding-bottom:10px;
    }
}

a:hover {
  color: #000;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid palegoldenrod;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #4b5564;
  background:lightseagreen;
}

.footer__navi-heading {
  font-weight: 600;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__social a {
  display: inline-block;
  width: 24px;
  opacity: 0.7;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

/*========= スクロールトップのためのCSS ===============*/
.scroll-top {
  // ボタンを右下で固定位置にする
  position: fixed;
  bottom: 30px;
  right: 30px;
  
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: palegoldenrod;
}

.scroll-top a {
  text-decoration: none;
  color: black;
}

